/* [project]/src/components/Container/Container.module.css [client] (css) */
.Container-module__QumDGq__containerCover {
  background-image: url("/images/bg.png");
  background-size: cover;
  background-attachment: fixed;
}

.Container-module__QumDGq__container {
  background-color: var(--bg-alpha);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
}

@media (max-width: 1200px) {
  .Container-module__QumDGq__containerCover {
    background-attachment: scroll;
  }
}

@media (max-width: 768px) {
  .Container-module__QumDGq__containerCover {
    background-attachment: scroll;
  }
}

/* [project]/src/components/Menu/Menu.module.css [client] (css) */
.Menu-module__88cxuq__navbar {
  z-index: 10;
  background-color: var(--fourth-color);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
  position: fixed;
}

.Menu-module__88cxuq__navbar .Menu-module__88cxuq__logo img {
  width: 3.5rem;
  margin-left: 1rem;
  padding: .5rem;
}

.Menu-module__88cxuq__navbar .Menu-module__88cxuq__logo img:hover {
  filter: brightness(10);
  cursor: pointer;
  transition: all .5s;
  scale: .9;
}

.Menu-module__88cxuq__navbar .Menu-module__88cxuq__menu .Menu-module__88cxuq__menuItems {
  font-family: Poppins;
  list-style: none;
  display: flex;
}

.Menu-module__88cxuq__navbar .Menu-module__88cxuq__menu .Menu-module__88cxuq__menuItems li {
  padding: 1.2rem;
}

.Menu-module__88cxuq__navbar .Menu-module__88cxuq__menu .Menu-module__88cxuq__menuItems a {
  color: var(--label-color);
}

.Menu-module__88cxuq__navbar .Menu-module__88cxuq__menu .Menu-module__88cxuq__menuItems a:hover {
  color: var(--primary-color);
}

.Menu-module__88cxuq__menuBtn {
  color: var(--label-color);
  cursor: pointer;
  margin-right: 1.5rem;
  font-size: 2rem;
  display: none;
}

@media (max-width: 768px) {
  .Menu-module__88cxuq__navbar .Menu-module__88cxuq__logo img {
    width: 3.5rem;
    margin-left: .1rem;
    padding: .5rem;
  }

  .Menu-module__88cxuq__navbar .Menu-module__88cxuq__menuItems {
    background-color: var(--fourth-color);
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    transition: all .3s;
    position: fixed;
    top: 0;
    left: -100%;
  }

  .Menu-module__88cxuq__navbar .Menu-module__88cxuq__menuItems li {
    border-bottom: 2px outset var(--label-color);
    width: 80%;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  .Menu-module__88cxuq__menuBtn {
    z-index: 999;
    display: block;
  }

  #Menu-module__88cxuq__menuItems.Menu-module__88cxuq__active {
    left: 0;
  }
}

/* [project]/src/components/Footer/Footer.module.css [client] (css) */
.Footer-module__Grjkva__footerContent {
  text-align: center;
  background-color: var(--third-color);
  width: 100%;
  height: 8rem;
  color: var(--label-color);
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-family: Poppins;
  font-size: .6rem;
  display: flex;
}

.Footer-module__Grjkva__footerContent li {
  list-style: none;
}

.Footer-module__Grjkva__footerContent li:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.Footer-module__Grjkva__footerContent .Footer-module__Grjkva__footerLeft .Footer-module__Grjkva__footerItems {
  text-align: left;
  display: flex;
}

.Footer-module__Grjkva__footerContent .Footer-module__Grjkva__footerLeft .Footer-module__Grjkva__footerItems li {
  padding: .8rem;
}

.Footer-module__Grjkva__footerContent .Footer-module__Grjkva__footerRight {
  margin-right: 1rem;
  font-size: .8rem;
}

@media (max-width: 1200px) {
  .Footer-module__Grjkva__footerContent .Footer-module__Grjkva__footerLeft {
    display: none;
  }

  .Footer-module__Grjkva__footerContent .Footer-module__Grjkva__footerRight {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .Footer-module__Grjkva__footerContent .Footer-module__Grjkva__footerLeft {
    display: none;
  }

  .Footer-module__Grjkva__footerContent .Footer-module__Grjkva__footerRight {
    width: 100%;
  }
}

/* [project]/src/components/HomeContent/HomeContent.module.css [client] (css) */
.HomeContent-module__zBYaaa__homeContent {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard {
  background-color: var(--fourth-color-alpha);
  -webkit-backdrop-filter: blur(2px);
  border: solid 1px var(--primary-alpha);
  border-radius: .5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 6rem;
  margin-bottom: 6rem;
  padding: 2rem;
  display: flex;
}

.HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__title {
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: Poppins;
}

.HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 1rem 2.5rem;
  font-family: Poppins;
  font-size: .8rem;
  display: grid;
}

.HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games img {
  cursor: pointer;
  width: 80%;
  padding-top: 1rem;
}

.HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games img:hover {
  transition: all .3s;
  scale: .9;
}

.HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games h3 {
  color: var(--primary-color);
  margin-bottom: .5rem;
}

.HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games li {
  color: var(--secondary-color);
  margin-bottom: .1rem;
  list-style: none;
}

.HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games .HomeContent-module__zBYaaa__btnDel {
  background-color: var(--fourth-color);
  color: var(--secondary-color);
  cursor: pointer;
  border: none;
  border-radius: .2rem;
  width: 3rem;
  height: 1.6rem;
  margin-top: .3rem;
  margin-right: .5rem;
  font-family: Poppins;
  font-size: .7rem;
}

.HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games .HomeContent-module__zBYaaa__btnEdit {
  background-color: var(--fourth-color);
  color: var(--secondary-color);
  cursor: pointer;
  border: none;
  border-radius: .2rem;
  width: 3rem;
  height: 1.6rem;
  margin-top: .3rem;
  font-family: Poppins;
  font-size: .7rem;
}

.HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games .HomeContent-module__zBYaaa__btnDel:hover {
  background-color: #f22323;
}

.HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games .HomeContent-module__zBYaaa__btnEdit:hover {
  background-color: var(--primary-color);
}

@media (max-width: 1200px) {
  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard {
    -webkit-backdrop-filter: none;
    border-radius: none;
    border: none;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__title {
    margin-top: 6rem;
  }

  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games img {
    filter: none;
    border: none;
  }

  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games img:hover {
    box-shadow: none;
  }

  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games .HomeContent-module__zBYaaa__btnDel {
    background-color: #f22323;
  }

  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games .HomeContent-module__zBYaaa__btnEdit {
    background-color: var(--primary-color);
  }

  .HomeContent-module__zBYaaa__editContent {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard {
    -webkit-backdrop-filter: none;
    border-radius: none;
    border: none;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__title {
    margin-top: 4rem;
  }

  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games img {
    filter: none;
    border: none;
    width: 85%;
    margin-left: -5%;
  }

  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games img:hover {
    box-shadow: none;
  }

  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games .HomeContent-module__zBYaaa__listGames {
    align-items: center;
    font-size: .8rem;
    display: flex;
  }

  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games .HomeContent-module__zBYaaa__listGames .HomeContent-module__zBYaaa__gameImg {
    text-align: center;
    width: 40%;
  }

  .HomeContent-module__zBYaaa__editContent {
    width: 90%;
  }
}

/* [project]/src/components/Loading/Loading.module.css [client] (css) */
.Loading-module__J-bl4a__loading {
  width: 100%;
  height: 100%;
  min-height: 50vh;
  color: var(--secondary-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size: 1rem;
  display: flex;
}

.Loading-module__J-bl4a__loading img {
  width: 3.5rem;
}

.Loading-module__J-bl4a__done {
  display: none;
}

/*# sourceMappingURL=src_components_0gaqw1o._.css.map*/