/* [project]/src/components/Container/Container.module.css [client] (css) */
.Container-module__QumDGq__containerCover {
  background-image: url("/images/bg.png");
  background-size: cover;
  background-attachment: fixed;
}

.Container-module__QumDGq__container {
  background-color: var(--bg-alpha);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
}

@media (max-width: 1200px) {
  .Container-module__QumDGq__containerCover {
    background-attachment: scroll;
  }
}

@media (max-width: 768px) {
  .Container-module__QumDGq__containerCover {
    background-attachment: scroll;
  }
}

/* [project]/src/components/Menu/Menu.module.css [client] (css) */
.Menu-module__88cxuq__navbar {
  z-index: 10;
  background-color: var(--fourth-color);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
  position: fixed;
}

.Menu-module__88cxuq__navbar .Menu-module__88cxuq__logo img {
  width: 3.5rem;
  margin-left: 1rem;
  padding: .5rem;
}

.Menu-module__88cxuq__navbar .Menu-module__88cxuq__logo img:hover {
  filter: brightness(10);
  cursor: pointer;
  transition: all .5s;
  scale: .9;
}

.Menu-module__88cxuq__navbar .Menu-module__88cxuq__menu .Menu-module__88cxuq__menuItems {
  font-family: Poppins;
  list-style: none;
  display: flex;
}

.Menu-module__88cxuq__navbar .Menu-module__88cxuq__menu .Menu-module__88cxuq__menuItems li {
  padding: 1.2rem;
}

.Menu-module__88cxuq__navbar .Menu-module__88cxuq__menu .Menu-module__88cxuq__menuItems a {
  color: var(--label-color);
}

.Menu-module__88cxuq__navbar .Menu-module__88cxuq__menu .Menu-module__88cxuq__menuItems a:hover {
  color: var(--primary-color);
}

.Menu-module__88cxuq__menuBtn {
  color: var(--label-color);
  cursor: pointer;
  margin-right: 1.5rem;
  font-size: 2rem;
  display: none;
}

@media (max-width: 768px) {
  .Menu-module__88cxuq__navbar .Menu-module__88cxuq__logo img {
    width: 3.5rem;
    margin-left: .1rem;
    padding: .5rem;
  }

  .Menu-module__88cxuq__navbar .Menu-module__88cxuq__menuItems {
    background-color: var(--fourth-color);
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    transition: all .3s;
    position: fixed;
    top: 0;
    left: -100%;
  }

  .Menu-module__88cxuq__navbar .Menu-module__88cxuq__menuItems li {
    border-bottom: 2px outset var(--label-color);
    width: 80%;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  .Menu-module__88cxuq__menuBtn {
    z-index: 999;
    display: block;
  }

  #Menu-module__88cxuq__menuItems.Menu-module__88cxuq__active {
    left: 0;
  }
}

/* [project]/src/components/Footer/Footer.module.css [client] (css) */
.Footer-module__Grjkva__footerContent {
  text-align: center;
  background-color: var(--third-color);
  width: 100%;
  height: 8rem;
  color: var(--label-color);
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-family: Poppins;
  font-size: .6rem;
  display: flex;
}

.Footer-module__Grjkva__footerContent li {
  list-style: none;
}

.Footer-module__Grjkva__footerContent li:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.Footer-module__Grjkva__footerContent .Footer-module__Grjkva__footerLeft .Footer-module__Grjkva__footerItems {
  text-align: left;
  display: flex;
}

.Footer-module__Grjkva__footerContent .Footer-module__Grjkva__footerLeft .Footer-module__Grjkva__footerItems li {
  padding: .8rem;
}

.Footer-module__Grjkva__footerContent .Footer-module__Grjkva__footerRight {
  margin-right: 1rem;
  font-size: .8rem;
}

@media (max-width: 1200px) {
  .Footer-module__Grjkva__footerContent .Footer-module__Grjkva__footerLeft {
    display: none;
  }

  .Footer-module__Grjkva__footerContent .Footer-module__Grjkva__footerRight {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .Footer-module__Grjkva__footerContent .Footer-module__Grjkva__footerLeft {
    display: none;
  }

  .Footer-module__Grjkva__footerContent .Footer-module__Grjkva__footerRight {
    width: 100%;
  }
}

/* [project]/src/components/CreateContent/CreateContent.module.css [client] (css) */
.CreateContent-module__-WlR0G__createContent {
  -webkit-backdrop-filter: blur(2px);
  width: 35%;
  box-shadow: 0 8px 32px 0 var(--primary-alpha);
  border: solid 1px var(--primary-color);
  border-radius: 1rem;
  margin-top: 5rem;
  margin-bottom: 4rem;
  padding: 2rem;
}

@media (max-width: 1200px) {
  .CreateContent-module__-WlR0G__createContent {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .CreateContent-module__-WlR0G__createContent {
    width: 85%;
  }
}

/*# sourceMappingURL=src_components_0hyz9e-._.css.map*/