/* [project]/src/components/Container/Container.module.css [client] (css) */
.Container-module__QumDGq__containerCover {
  background-image: url("/images/bg.png");
  background-size: cover;
  background-attachment: fixed;
}

.Container-module__QumDGq__container {
  background-color: var(--bg-alpha);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
}

@media (max-width: 1200px) {
  .Container-module__QumDGq__containerCover {
    background-attachment: scroll;
  }
}

@media (max-width: 768px) {
  .Container-module__QumDGq__containerCover {
    background-attachment: scroll;
  }
}

/* [project]/src/components/LoginContent/LoginContent.module.css [client] (css) */
.LoginContent-module__SVU1GG__loginContent {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
}

.LoginContent-module__SVU1GG__loginContent .LoginContent-module__SVU1GG__logo {
  margin-top: -5%;
}

.LoginContent-module__SVU1GG__loginContent .LoginContent-module__SVU1GG__logo .LoginContent-module__SVU1GG__logoImg {
  max-width: 25rem;
}

.LoginContent-module__SVU1GG__loginContent .LoginContent-module__SVU1GG__loginCard {
  -webkit-backdrop-filter: blur(2px);
  width: 28rem;
  height: 22rem;
  box-shadow: 0 8px 32px 0 var(--primary-alpha);
  border: solid 1px var(--primary-color);
  color: var(--secondary-color);
  border-radius: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
  font-family: Poppins;
  display: flex;
}

.LoginContent-module__SVU1GG__loginContent .LoginContent-module__SVU1GG__loginCard .LoginContent-module__SVU1GG__loginCardHeader {
  margin-bottom: 1rem;
  font-size: .8rem;
}

.LoginContent-module__SVU1GG__loginContent .LoginContent-module__SVU1GG__loginCard .LoginContent-module__SVU1GG__loginCardBody {
  width: 70%;
}

@media (max-width: 1200px) {
  .LoginContent-module__SVU1GG__loginContent .LoginContent-module__SVU1GG__loginCard {
    width: 22rem;
    height: 15rem;
    margin: 0;
  }

  .LoginContent-module__SVU1GG__loginContent .LoginContent-module__SVU1GG__loginCard .LoginContent-module__SVU1GG__loginCardHeader {
    margin-bottom: .1rem;
  }

  .LoginContent-module__SVU1GG__input {
    margin-top: .5rem;
    margin-bottom: 0;
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .LoginContent-module__SVU1GG__loginContent {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
  }

  .LoginContent-module__SVU1GG__loginContent .LoginContent-module__SVU1GG__logo .LoginContent-module__SVU1GG__logoImg {
    max-width: 20rem;
    margin-top: -5rem;
    margin-bottom: 4rem;
  }

  .LoginContent-module__SVU1GG__loginContent .LoginContent-module__SVU1GG__loginCard {
    width: 20rem;
    height: 20rem;
    margin: 0;
  }

  .LoginContent-module__SVU1GG__loginContent .LoginContent-module__SVU1GG__loginCard .LoginContent-module__SVU1GG__loginCardHeader {
    margin-bottom: 1.5rem;
  }

  .LoginContent-module__SVU1GG__input {
    margin-top: .5rem;
  }
}

/* [project]/src/components/Footer/Footer.module.css [client] (css) */
.Footer-module__Grjkva__footerContent {
  text-align: center;
  background-color: var(--third-color);
  width: 100%;
  height: 8rem;
  color: var(--label-color);
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-family: Poppins;
  font-size: .6rem;
  display: flex;
}

.Footer-module__Grjkva__footerContent li {
  list-style: none;
}

.Footer-module__Grjkva__footerContent li:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.Footer-module__Grjkva__footerContent .Footer-module__Grjkva__footerLeft .Footer-module__Grjkva__footerItems {
  text-align: left;
  display: flex;
}

.Footer-module__Grjkva__footerContent .Footer-module__Grjkva__footerLeft .Footer-module__Grjkva__footerItems li {
  padding: .8rem;
}

.Footer-module__Grjkva__footerContent .Footer-module__Grjkva__footerRight {
  margin-right: 1rem;
  font-size: .8rem;
}

@media (max-width: 1200px) {
  .Footer-module__Grjkva__footerContent .Footer-module__Grjkva__footerLeft {
    display: none;
  }

  .Footer-module__Grjkva__footerContent .Footer-module__Grjkva__footerRight {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .Footer-module__Grjkva__footerContent .Footer-module__Grjkva__footerLeft {
    display: none;
  }

  .Footer-module__Grjkva__footerContent .Footer-module__Grjkva__footerRight {
    width: 100%;
  }
}

/*# sourceMappingURL=src_components_0km5-kh._.css.map*/