/* [project]/src/components/HomeContent/HomeContent.module.css [client] (css) */
.HomeContent-module__zBYaaa__homeContent {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard {
  background-color: var(--fourth-color-alpha);
  -webkit-backdrop-filter: blur(2px);
  border: solid 1px var(--primary-alpha);
  border-radius: .5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 6rem;
  margin-bottom: 6rem;
  padding: 2rem;
  display: flex;
}

.HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__title {
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: Poppins;
}

.HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 1rem 2.5rem;
  font-family: Poppins;
  font-size: .8rem;
  display: grid;
}

.HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games img {
  cursor: pointer;
  width: 80%;
  padding-top: 1rem;
}

.HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games img:hover {
  transition: all .3s;
  scale: .9;
}

.HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games h3 {
  color: var(--primary-color);
  margin-bottom: .5rem;
}

.HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games li {
  color: var(--secondary-color);
  margin-bottom: .1rem;
  list-style: none;
}

.HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games .HomeContent-module__zBYaaa__btnDel {
  background-color: var(--fourth-color);
  color: var(--secondary-color);
  cursor: pointer;
  border: none;
  border-radius: .2rem;
  width: 3rem;
  height: 1.6rem;
  margin-top: .3rem;
  margin-right: .5rem;
  font-family: Poppins;
  font-size: .7rem;
}

.HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games .HomeContent-module__zBYaaa__btnEdit {
  background-color: var(--fourth-color);
  color: var(--secondary-color);
  cursor: pointer;
  border: none;
  border-radius: .2rem;
  width: 3rem;
  height: 1.6rem;
  margin-top: .3rem;
  font-family: Poppins;
  font-size: .7rem;
}

.HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games .HomeContent-module__zBYaaa__btnDel:hover {
  background-color: #f22323;
}

.HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games .HomeContent-module__zBYaaa__btnEdit:hover {
  background-color: var(--primary-color);
}

@media (max-width: 1200px) {
  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard {
    -webkit-backdrop-filter: none;
    border-radius: none;
    border: none;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__title {
    margin-top: 6rem;
  }

  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games img {
    filter: none;
    border: none;
  }

  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games img:hover {
    box-shadow: none;
  }

  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games .HomeContent-module__zBYaaa__btnDel {
    background-color: #f22323;
  }

  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games .HomeContent-module__zBYaaa__btnEdit {
    background-color: var(--primary-color);
  }

  .HomeContent-module__zBYaaa__editContent {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard {
    -webkit-backdrop-filter: none;
    border-radius: none;
    border: none;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__title {
    margin-top: 4rem;
  }

  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games img {
    filter: none;
    border: none;
    width: 85%;
    margin-left: -5%;
  }

  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games img:hover {
    box-shadow: none;
  }

  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games .HomeContent-module__zBYaaa__listGames {
    align-items: center;
    font-size: .8rem;
    display: flex;
  }

  .HomeContent-module__zBYaaa__homeContent .HomeContent-module__zBYaaa__listGamesCard .HomeContent-module__zBYaaa__games .HomeContent-module__zBYaaa__listGames .HomeContent-module__zBYaaa__gameImg {
    text-align: center;
    width: 40%;
  }

  .HomeContent-module__zBYaaa__editContent {
    width: 90%;
  }
}

/*# sourceMappingURL=src_components_HomeContent_HomeContent_module_css_0hklytk._.single.css.map*/